$sp-color: 'azul' $color-azul, 'amarillo' $color-amarillo, 'rosa' $color-rosa, 'verde' $color-verde;

.contenedor-texto-am {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
}

@each $sp-name, $sp-color in $sp-color {
    .sp-#{$sp-name} {
        color: $sp-color;
    }
}