$sp-color: 'azul' $color-azul, 'amarillo' $color-amarillo, 'rosa' $color-rosa, 'verde' $color-verde;

.contenedor-texto-am {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
}

@each $sp-name, $sp-color in $sp-color {
    .sp-#{$sp-name} {
        color: $sp-color;
    }
}

@media screen and (min-width: 1000px) {
    .contenedor-texto-am {
        width: 50%;
    }
}