.contenedor-links {
    #h3-personal {
        font-size: 20px;
        margin-top: 10px;
    }
    #parrafo-personal {
        font-size: 16px;
        margin: 8px 0;
    }
    #lista-personal {
        margin-bottom: 15px;
        li {
            font-size: 14px;
        }
    }    
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .sub-contenedpr-links {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 8px 0;
        .icono-titulo-links {
            width: 100%;
            display: flex;
            justify-content: flex-start;  
            font-size: 16px;
            i {
                margin-top: 5px;
            }
            .fa-person {
                color: $color-azul;
            }
            .fa-graduation-cap {
                color: $color-verde;
            }
            .fa-briefcase {
                color: $color-rosa;
            }
            .url {
                font-weight: bold;
                margin-left: 10px;
            }
        }
        .titulo-link a {
            font-size: 18px;
            font-weight: bold;
            color: blue;
        }
        p {
            font-size: 14px;
            margin: 1px 0;
        }
    }
}

@media screen and(min-width: 499px) {
    .contenedor-links {
        #h3-personal {
            font-size: 20px;
        }
        #parrafo-personal {
            font-size: 14px;
        }
        #lista-personal li {
            font-size: 12px;
        }
        .sub-contenedpr-links {
            .icono-titulo-links {
                font-size: 15px;
            }
            .titulo-link a {
                font-size: 18px;
            }
            p {
                font-size: 13px;
                margin: 3px 0;
            }
        }
    }
}

@media screen and(min-width: 1200px) {
    .contenedor-links {
        #h3-personal {
            font-size: 20px;
            margin: 15px 0;
        }
        #parrafo-personal {
            font-size: 18px;
            margin: 15px 0;
        }
        #lista-personal li {
            font-size: 16px;
        }
        .sub-contenedpr-links {
            margin: 4px 0;
            hr {
                margin: 2px 0;
            }
            .icono-titulo-links {
                margin-top: 2px;
                font-size: 23px;
            }
            .titulo-link a{
                font-size: 26px;
            }
            p {
                font-size: 21px;
                margin: 5px 0;
            }
        }
    }
}