/*
* Variables
*/

@import '../../../App.scss';

/*
* Import
*/

@import './cabecera',
        './resumen',
        './links';

.contenedor-cv {
    width: 100%;
    height: 86vh;
    display: flex;
    flex-wrap: wrap;
    color: white;
    .contenedor-cabecera-cv {
        width: 100%;
        height: 10vh;
    }
    .contenedor-resumen-cv {
        width: 100%;
        height: 42vh;
    }
    .contenedor-links-cv {
        width: 100%;
        height: 28vh;
    }
    .contenedor-footer-cv {
        width: 100%;
        height: 6vh;
    }
}
@media screen and(min-width:1001px) {
    .contenedor-cv {
        width: 100%;
        height: 86vh;
        display: flex;
        flex-wrap: wrap;
        .contenedor-cabecera-cv {
            width: 48%;
            height: 12vh;
        }
        .contenedor-resumen-cv {
            width: 48%;
            height: 60vh;
            margin-left: 4%;
            margin-top: 8%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
        .contenedor-links-cv {
            margin-top: -42%;
            width: 48%;
            height: 60vh;
        }
        .contenedor-footer-cv {
            width: 100%;
            height: 6vh;
        }
    }
}