.continuar {
    position: absolute;
    bottom: 1%;
    width: 100%;
    text-align: center;
}
.continuar span {
    font-size: 30px;
    color: rgb(72, 72, 72);
    text-decoration: none;
}

@media screen and (min-width: 1000px) {
    .continuar {
        display: none;
    }   
}