/*
* Variables
*/

@import '../../../App';

/*
* import
*/
 
@import './sliderPro';

.contenedor-proyectos {
    width: 90%;
    padding: 0 2%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
    background-color: rgba($color: #000000, $alpha: 0.8);
    .contenedor-slider {
        height: 65vh;
        margin-bottom: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.contenedor-slider-proy {
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media screen and (min-width: 499px) {
    .contenedor-proyectos{
        h2 {
            font-size: 26px;
        }
    }
}
@media screen and (min-width: 1000px) {
    .contenedor-proyectos{
        height: 85vh;
        h2 {
            font-size: 36px;
        }
    }
    .contenedor-slider-proy {
        margin-top: 50px;
    }
}