@import './animacionbg';

$bglistd: '1' url('./imagenes/bg50d.png'), '2' url('./imagenes/bg75d.png'), '3' url('./imagenes/bg100d.png'); 

$bglistm: '1' url('./imagenes/bg50m.png'), '2' url('./imagenes/bg75m.png'), '3' url('./imagenes/bg100m.png'); 

.bgstar {
    width: 100%;
    height: 100vh;
    background-color: transparent;
    background-size: 110%;
    background-repeat: no-repeat;
}

@each $id, $bg in $bglistm {
    #n#{$id} {
        background-image: $bg;
    } 
}
@media screen and (min-width: 1000px) { 
    @each $id, $bg in $bglistd {
        #n#{$id} {
            background-image: $bg;
        } 
    }
}