@import './background';

$color-azul: #4641D9;
$color-verde: #0BD904;
$color-rosa: #F213A4;
$color-amarillo: #F2E205;
$color-negro: #000000;

* {
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}

body {
    background-color: $color-negro;
}
h1 {
    font-size: 46px;
    margin: 15px 0;
}
p {
    margin: 15px 0;
    font-size: 16px;
} 

@media screen and (min-width: 499px) {
    p {
        font-size: 24px;
    }
}

@media screen and (min-width: 1000px) {
    h1 {
        font-size: 64px;
    }
}